current-context: default-context
apiVersion: v1
clusters:
- cluster:
    api-version: v1
    certificate-authority: {{ kube_home }}/certs/ca.pem
    server: {{ kube_api_servers }}
  name: {{ kube_cluster_name }}
contexts:
- context:
    cluster: {{ kube_cluster_name }}
    namespace: default
    user: kube
  name: default-context
kind: Config
preferences:
  colors: true
users:
- name: kube
  user:
    client-certificate: {{ kubelet_client_certificate }}
    client-key: {{ kubelet_client_key }}
