
{
  "CN": "XiaoQianKeJi SOFTWARE CO. LIMITED",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "BeiJing",
      "L": "Beijing",
      "O": "lx1036",
      "OU": "System"
    }
  ],
  "ca": {
    "expiry": "{{ CA_EXPIRY }}"
  }
}
