[Unit]
Description=etcd key-value store
Documentation=https://github.com/coreos/etcd

[Service]
User={{ etcd_user }}
Group={{ etcd_group }}
Type=notify
CPUQuota=400%
EnvironmentFile=-{{ etcd_conf }}
PIDFile={{ etcd_pid }}
StandardOutput=journal
StandardError=inherit
ExecStart={{ etcd_home }}/etcd/etcd
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target
