

@import '../../../../variables';

.kd-zerostate-container {
  padding: 2 * $baseline-grid;
}

.kd-zerostate-title {
  font-size: $headline-font-size-base;
  font-weight: $regular-font-weight;
  margin-bottom: $baseline-grid / 2;
}

.kd-zerostate-text {
  font-size: $body-font-size-base;
  font-weight: $regular-font-weight;
  word-break: break-all;
}
