

@import '../../variables';

.kd-search {
  border-radius: $baseline-grid / 4;
  padding-left: $baseline-grid;

  input {
    background-color: transparent;
    border: 0;
    font-size: $subhead-font-size-base;
    outline: none;
    padding: $baseline-grid * 1.25;
  }

  .kd-search-icon {
    margin-left: $baseline-grid * 2;
    padding-right: $baseline-grid * 2;
  }
}
