

@import '../../../variables';

.kd-property-container {
  margin: (.75 * $baseline-grid) (5 * $baseline-grid) (.75 * $baseline-grid) 0;
}

.kd-property-label {
  font-size: $caption-font-size-base;
  margin-bottom: .25 * $baseline-grid;
}

.kd-property-value {
  font-size: $title-font-size-base;
  margin-bottom: $baseline-grid;
  word-break: break-all;
}
