<div class="content-area" style="position: relative">
  <div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
      <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
        <div class="cluster-outline" style="display: flex; flex-wrap: wrap;width: 100%;">

        </div>
        <p class="card-show-p">

        </p>
        <wayne-box>
          <div class="table-search" style="padding: 0 15px;">
            <div class="table-search-left">

            </div>
            <div class="table-search-right">

            </div>
          </div>
        </wayne-box>
      </div>
    </div>
  </div>
</div>

<wayne-sidenav-namespace style="display: flex; order: -1"></wayne-sidenav-namespace>
<create-edit-app (create)="createApp($event)"></create-edit-app>
