

@import '../../variables';
@import '../../mixins';

.kd-user-panel-icon {
  @include kd-icon-size;
}

.kd-auth-status {
  font-family: $font-family-sans;
  font-weight: $bold-font-weight;
  padding: $baseline-grid (2 * $baseline-grid) (2 * $baseline-grid);
  text-transform: uppercase;
}

.kd-cross-style {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.kd-cross-line-primary {
  stroke-width: 2;
}

.kd-cross-outline {
  stroke-width: 4;
}
