

@import '../../../../variables';

// Align items only in the current layout (kd-help-section).
.kd-help-section ::ng-deep > {
  * {
    flex: 1;
    flex-basis: auto;
    margin: $baseline-grid 0;
    width: 100%;

    &:last-child {
      padding-left: 4 * $baseline-grid;
    }

    &:first-child {
      max-width: 48.5%;
    }
  }
}

@media (max-width: 959px) {
  .kd-help-section ::ng-deep > {
    * {
      &:first-child { max-width: 100%; }
    }
  }
}

.kd-help-section {
  & kd-port-mappings {
    margin-bottom: 0;
    margin-top: 0;
  }
}
