apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: lx1036/hyperkube:v{{k8s_version}}
    command:
    - ./hyperkube
    - controller-manager
    - --master={{ kube_api_servers }}
    - --root-ca-file={{ kube_home }}/certs/ca.pem
    - --kubeconfig={{ kube_home }}/kubeconfig
    - --pod-eviction-timeout=2m
    - --service-account-private-key-file={{ kube_home }}/certs/kube-service-account-key.pem
    - --leader-elect
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    volumeMounts:
    - mountPath: {{ kube_home }}/certs
      name: kube-certs
      readOnly: true
    - mountPath: {{ kube_home }}/kubeconfig
      name: kube-config
      readOnly: true
  volumes:
  - hostPath:
      path: {{ kube_home }}/certs
    name: kube-certs
  - hostPath:
      path: {{ kube_home }}/kubeconfig
    name: kube-config
