

@import '../../../../../variables';
@import '../../../../../mixins';

.kd-secret-detail-text {
  width: 100%;

  .mat-input-element {
    font-family: $font-family-monospace;
    font-size: $body-font-size-base;
  }
}

.kd-secret-detail-actions {
  min-height: $baseline-grid * 6.5;
  padding: $baseline-grid 0;
}
