

@import '../../../variables';
@import '../../../mixins';

.kd-download-progress-bar {
  margin-bottom: 2.5 * $baseline-grid;
  margin-top: 2.5 * $baseline-grid;
}

mat-dialog-actions {
  margin-top: $baseline-grid;
}
